@import "tailwindcss";
@plugin "daisyui" {
    themes: light --default, dark --prefersdark;
 }
 /* Minimal custom scrollbar */
.custom-scrollbar {
  scrollbar-width: thin;          /* Firefox */
  scrollbar-color: #b3b3b3 transparent;
}

/* Chrome, Edge, Safari */
.custom-scrollbar::-webkit-scrollbar {
  width: 4px;                     /* thin scrollbar */
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #b3b3b3;      /* scrollbar color */
  border-radius: 10px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background-color: #888;         /* hover effect */
}
